language: csharp
solution: FastCGI.sln
install:
  - nuget restore FastCGI.sln
  - nuget install NUnit.Runners -Version 2.6.4 -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Release /p:TargetFrameworkVersion="v4.5" /p:ToolsVersion="4.0" FastCGI.sln
  - mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe ./FastCGI.Tests/bin/Debug/FastCGI.Tests.dll
